<p id="notice"><%= notice %></p>

<h1>Extrato</h1>

<table class="table table-dark table-hover table-bordered">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Tipo de Transação</th>
      <th>Conta</th>
      <th>Data</th>
      <th>Conta Transferência</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.amount %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.account.account_number %></td>
        <td><%= transaction.date_transaction.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= transaction.account_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>


