<% if user_signed_in? %>
  <div class="row justify-content-center">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold ">Conta</h3>
      </div>

      <% if @accounts.errors.any? %>
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          <ul>
            <% @accounts.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <table class="table table-responsive-sm table-stripped table-hover">
        <thead>
        <tr>
          <th>Balanço</th>
          <th>Conta</th>
          <th>Status</th>
          <th>Usúario</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td><%= @accounts.balance %></td>
          <td><%= @accounts.account_number %></td>
          <td><%= @accounts.enabled ? 'Ativo' : 'Inativo' %></td>
          <td><%= @accounts.user.email %></td>
        </tr>
        </tbody>
      </table>
      <div class="container-fluid">
        <%= link_to 'Editar', edit_account_path(@accounts), class: 'btn btn-warning' %>
        <%= link_to 'Encerrar', @accounts, method: :delete, data: { confirm: 'Deseja encerrar sua conta?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
<% end %>